<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
data-sly-call="${clientLib.all @ categories='ProductTile'}"/>
<head>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@800&family=Raleway:wght@300&display=swap" rel="stylesheet">
</head>

<div class="wrapper">
  <div class="container">
    <div class="top"></div>
    <div class="bottom">
      <div class="left" style=" right: -20px">
        <div class="details">
          <h5><strong>Sizzling Funky Chicken</strong></h5>
          <p>₹150</p>
        </div>
        <div class="buy" style="background-color:#f48b29;"><a href="cart.html"><i class="fa fa-cart-plus" style="font-size:25px;color:white;"></i></a></div>
      </div>

    </div>
  </div>
  <div class="inside">
    <div class="icon"><span><strong>info</strong></span></div>
    <div class="contents">
      <div class="description">
   		<h3>Sizzling Funky Chicken</h3>
		<p>Features a flame-grilled patty made from plants topped with tomatoes, lettuce, mayo, ketchup, pickles, and onions. *For guests looking for a meat-free option, a non-broiler method of preparation is available upon request.Medium Drink and Medium Side Included</p>
      </div>
    </div>
  </div>
</div>